a {
    border: 0;
}

#yuyuko {
    margin: 15px 0 5px 20px;
}

/* body */

body {
    background-color: white;
    color: black;
    font-family: monospace;
    font-size: 14px;
}

/* header */

#header a {
    color: black;
}

/* instanceList */

#instanceList {
    margin: 5px 0 35px 50px;
}

#instanceList .instance {
    width: 160px;
}

#instanceList .instance .count-orange {
    background-color: orange;
    color: white;
    float: left;
    padding: 2px;
    margin: 1px;
    width: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#instanceList .instance .count-pink {
    background-color: deeppink;
    color: white;
    float: left;
    padding: 2px;
    margin: 1px;
    width: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#instanceList .instance .title {
    background-color: black;
    color: white;
    float: left;
    padding: 2px;
    margin: 1px;
    width: 128px;
    font-size: 12px;
    font-weight: bold;
}

#instanceList .instance .button:hover {
    opacity: 0.7;
} 