a, img {
    border: 0;
}

#chess {
    margin: 5px 0 5px 5px;
}

/* body */
body {
    background-color: white;
    color: black;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    font-size: 14px;
}

/* wrap */
#wrap {
    background-color: white;
    margin-left : auto ;
    margin-right : auto;
    width: 805px;
    padding: 15px 30px 5px 30px;
}

/* header */
#header {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    height: 22px;  
    background-color: black;  
    color: white;  
}

#header a {
    color: white;
}

/* roomList */
#roomList {
    margin: 5px 0 20px 70px;
}

#roomList .category {
    background-color: green;
    color: white;
    float: left;
    padding: 2px;
    text-align: center;
    font-weight: bold;
}

#roomList .room {
    width: 135px;
}

#roomList .room .count-empty {
    background-color: gray;
    color: white;
    float: left;
    padding: 2px;
    margin: 1px;
    width: 14px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

#roomList .room .count-orver {
    background-color: deeppink;
    color: white;
    float: left;
    padding: 2px;
    margin: 1px;
    width: 14px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

#roomList .room .title {
    background-color: black;
    color: white;
    float: left;
    padding: 2px;
    margin: 1px;
    width: 90px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

#roomList .room .button:hover {
    opacity: 0.7;
} 