/* body */

body {
    background-color: white;
    color: black;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    font-size: 14px;
}

/* header */

#header a {
    color: black;
}

/* login */
            
#login #ship {
    position: absolute;
    left: 400px;
}

#login #login-uid {
    position: absolute;
    width: 170px;
    height: 26px;
    top: 95px;
    left: 50px;
    border: 2px black solid;
    font-size: 20px;
}

#login #login-btn {
    position: absolute;
    top: 60px;
    left: 260px;
}
            
#login #login-users {
    position: absolute;
    padding: 0;
    top: 175px;
    left: 70px;
}

#login #err-msg {
    position: absolute;
    top: 163px;
    left: 20px;
    color: red;
    display: none;
    font-size: 11px;
}

/* play */

#play #user-list {
    background-color: black;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 35px;
    left: 10px;
    width: 210px;
    height: 155px;
    border: 2px black solid;
    overflow-y: scroll;
}

#play #log {
    background-color: black;
    color: white;
    position: absolute;
    top: 195px;
    left: 10px;
    width: 210px;
    height: 380px;
    border: 2px black solid;
    overflow-y: scroll;
    font-size: 13px;
}

#play #view {
    position: absolute;
    top: 35px;
    left: 225px;
    width: 860px;
    height: 540px;
    border: 2px black solid;
}

#play #chat-text {
    position: absolute;
    top: 590px;
    left: 10px;
    width: 900px;
    height: 25px;
    font-size: 18px;
    border: 2px black solid;
}

#play #chat-silent-btn {
    position: absolute;
    top: 593px;
    left: 920px;
}

#play #se-silent-btn {
    position: absolute;
    top: 593px;
    left: 1005px;
}

/* footer */
#footer {
    position: absolute;
    top: 630px;
    left: 10px;
}

/* .button */
.button:hover {
    opacity: 0.7;
}

/* .uid */
.uid {
    background-color: gray;
    color: white;
    padding: 1px;
    font-size: 12px;
    font-weight: bold;
}

/* .trip */
.trip {
    background-color: green;
    color: white;
    padding: 2px;
    margin: 1px;
    font-size: 12px;
    font-weight: bold;
}